.login{

    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    font-size:30px;
     background-color: orange;
}
.sss, .gender, .login, label{
    font-size: 60px;
}
.login, input{
    color: orange;
}
.login label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}