.UFS, .container{
    color: white;
    text-decoration: underline;
}

.MOUSE{
    color: white;
    text-decoration: underline;
}
.lorem{
 font-family: Georgia, 'Times New Roman', Times, serif
}
a{
    color: red;
}
li, ol{
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
#BOX{
    color: red;
    text-decoration: underline;
}
