.container{
    color: white;
    text-decoration: underline;
    
    
}
.UFS{
    color: white;
    text-decoration: underline;
}
.MOUSE{
    color: white;
    text-decoration: underline;
}
.lorem{
 font-family: Georgia, 'Times New Roman', Times, serif
}
a{
    color: red;
}